[Unit]
Description=Gazeto worker
After=network-online.target
Wants=network-online.target
Conflicts=shutdown.target

[Service]
User=root
ExecStart=php /opt/gazeto-client/client-controller/src/worker.php
WorkingDirectory=/opt/gazeto-client/client-controller
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target